<!DOCTYPE html>
{% load static %}
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Teste Técnico</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="icon" href="{% static 'images/favicon.png' %}" type="image/icon">
</head>
<body>

    <div class="container">
        <header>
            <nav>
                <div id="nav-painel" class="nav-container">
                    <a href="{% url 'dashboard' %}"><img id="logo" src="{% static 'images/logo.png' %}" alt="LogoIuptec"></a>
                    <ul>
                        {% if user.is_authenticated %}
                        <li><a href="{% url 'cadastro_veiculo' %}"><input type="button" value="Cadastrar Veículo"></a></li>
                        <li><a href="{% url 'logout' %}"><input type="button" value="Sair"></a></li>
                        {% else %}
                        
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
    </div>

        {% block content %} {% endblock %}
</body>
</html>